*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

a,h1{
    text-decoration: none; 
    color: rgb(90, 183, 206);
}

.header{
    display: flex;
    height: 8vh;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.logo-container{
    position: relative;
    left: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}
.buttons-container{
    position: relative;
    right: 10%;
}
.login{
    position: relative;
    border-radius: 20px;
    width: 90px;
    height: 40px;
    margin: 5px;
    background-color: rgb(90, 183, 206);
    color:cornsilk;
    border-style: none;
    right: 10%;
    cursor: pointer;
    outline: none;
}
.signup{
    background-color:cornsilk;
    color:rgb(90, 183, 206); 
    position: relative;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    border-style: none;
    left: 10%;
    cursor: pointer;
    outline: none;
}


.main
{   
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 700px;
}
.wel-description{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.wel-description h1{
    text-align: center;
    padding-bottom: 10%;
}
.wel-image img{
    height: 56vh;
    max-width: 100%;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.icons img{
    width: 60px;
}

.sep{
    position:fixed;
    z-index: -1;
    bottom:0px;
    width: 100%;
}


@media screen and (max-width: 768px){
    .login{
        left: 10%;
    }
    .main{
        height: 1000px;
    }
    .wel-description{
        position: relative;
        bottom: -320px;
        width: 70%;
    }
    .wel-image{
        position: absolute;
        top: 100px;

    }
    
}